startup --unix_digest_hash_attribute_name=user.sha256

build:buildbuddy --bes_results_url=https://app.buildbuddy.io/invocation/
build:buildbuddy --bes_backend=grpcs://remote.buildbuddy.io
build:buildbuddy --remote_cache=grpcs://remote.buildbuddy.io
build:buildbuddy --remote_executor=grpcs://remote.buildbuddy.io
build:buildbuddy --remote_timeout=3600
build:buildbuddy --shell_executable=/bin/bash

build:fuse --override_repository=rules_gcs++gcs_bucket+hello_world=%workspace%/mnt

try-import %workspace%/.bazelrc.user
